In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("all-data.csv" , encoding="iso-8859-1")

In [3]:
print(df)

       neutral  \
0      neutral
1     negative
2     positive
3     positive
4     positive
...        ...
4840  negative
4841   neutral
4842  negative
4843  negative
4844  negative

     According to Gran , the company has no plans to move all production to Russia , although that is where the company is growing .
0     Technopolis plans to develop in stages an area...
1     The international electronic industry company ...
2     With the new production plant the company woul...
3     According to the company 's updated strategy f...
4     FINANCING OF ASPOCOMP 'S GROWTH Aspocomp is ag...
...                                                 ...
4840  LONDON MarketWatch -- Share prices ended lower...
4841  Rinkuskiai 's beer sales fell by 6.5 per cent ...
4842  Operating profit fell to EUR 35.4 mn from EUR ...
4843  Net sales of the Paper segment decreased to EU...
4844  Sales in Finland decreased by 10.5 % in Januar...

[4845 rows x 2 columns]

In [4]:
df.rename(columns ={'According to Gran , the company has no plans to move all production to Russia , although that is where the company is growing .':'text'},inplace=True)
#We are changing the name of the column.

In [5]:
df

       neutral                                               text
0      neutral  Technopolis plans to develop in stages an area...
1     negative  The international electronic industry company ...
2     positive  With the new production plant the company woul...
3     positive  According to the company 's updated strategy f...
4     positive  FINANCING OF ASPOCOMP 'S GROWTH Aspocomp is ag...
...        ...                                                ...
4840  negative  LONDON MarketWatch -- Share prices ended lower...
4841   neutral  Rinkuskiai 's beer sales fell by 6.5 per cent ...
4842  negative  Operating profit fell to EUR 35.4 mn from EUR ...
4843  negative  Net sales of the Paper segment decreased to EU...
4844  negative  Sales in Finland decreased by 10.5 % in Januar...

[4845 rows x 2 columns]

In [6]:
df.rename(columns ={'neutral':'type'},inplace=True)
#We are changing the name of the column.

In [7]:
df

          type                                               text
0      neutral  Technopolis plans to develop in stages an area...
1     negative  The international electronic industry company ...
2     positive  With the new production plant the company woul...
3     positive  According to the company 's updated strategy f...
4     positive  FINANCING OF ASPOCOMP 'S GROWTH Aspocomp is ag...
...        ...                                                ...
4840  negative  LONDON MarketWatch -- Share prices ended lower...
4841   neutral  Rinkuskiai 's beer sales fell by 6.5 per cent ...
4842  negative  Operating profit fell to EUR 35.4 mn from EUR ...
4843  negative  Net sales of the Paper segment decreased to EU...
4844  negative  Sales in Finland decreased by 10.5 % in Januar...

[4845 rows x 2 columns]

In [8]:

df.to_csv('processed_data.csv', index=False)

In [9]:

df["type"]=df["type"].map({"positive":2,"negative":0,"neutral":1})

In [10]:
df

      type                                               text
0        1  Technopolis plans to develop in stages an area...
1        0  The international electronic industry company ...
2        2  With the new production plant the company woul...
3        2  According to the company 's updated strategy f...
4        2  FINANCING OF ASPOCOMP 'S GROWTH Aspocomp is ag...
...    ...                                                ...
4840     0  LONDON MarketWatch -- Share prices ended lower...
4841     1  Rinkuskiai 's beer sales fell by 6.5 per cent ...
4842     0  Operating profit fell to EUR 35.4 mn from EUR ...
4843     0  Net sales of the Paper segment decreased to EU...
4844     0  Sales in Finland decreased by 10.5 % in Januar...

[4845 rows x 2 columns]

In [11]:

import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

# Download NLTK resources (stopwords and punkt tokenizer)
nltk.download('stopwords')
nltk.download('punkt')

# Assuming you have already read the CSV file into df
# ...

# Function to perform text preprocessing
def preprocess_text(text):
    # Convert to lowercase
    text = text.lower()

    # Remove punctuation and numbers
    text = ''.join([char for char in text if char.isalpha() or char.isspace()])

    # Tokenize the text
    words = word_tokenize(text)

    # Remove stop words
    stop_words = set(stopwords.words('english'))
    words = [word for word in words if word not in stop_words]

    # Join the words back into a string
    processed_text = ' '.join(words)

    return processed_text

# Apply the preprocessing function to the "text" column
df['processed_text'] = df['text'].apply(preprocess_text)

[nltk_data] Downloading package stopwords to /Users/tirth/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /Users/tirth/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [12]:
df

,type,text,processed_text
0,1,Technopolis plans to develop in stages an area...,technopolis plans develop stages area less squ...
1,0,The international electronic industry company ...,international electronic industry company elco...
2,2,With the new production plant the company woul...,new production plant company would increase ca...
3,2,According to the company 's updated strategy f...,according company updated strategy years baswa...
4,2,FINANCING OF ASPOCOMP 'S GROWTH Aspocomp is ag...,financing aspocomp growth aspocomp aggressivel...
...,...,...,...
4840,0,LONDON MarketWatch -- Share prices ended lower...,london marketwatch share prices ended lower lo...
4841,1,Rinkuskiai 's beer sales fell by 6.5 per cent ...,rinkuskiai beer sales fell per cent million li...
4842,0,Operating profit fell to EUR 35.4 mn from EUR ...,operating profit fell eur mn eur mn including ...
4843,0,Net sales of the Paper segment decreased to EU...,net sales paper segment decreased eur mn secon...
4844,0,Sales in Finland decreased by 10.5 % in Januar...,sales finland decreased january sales outside ...

In [13]:

import spacy

# Load the spaCy English model
nlp = spacy.load("en_core_web_sm")

# Assuming you have alrea

In [22]:
def preprocess_text_2(text):
    doc = nlp(text)
    filtered_tokens = [token.lemma_ for token in doc if not token.is_stop and not token.is_punct]
    processed_text = ' '.join(filtered_tokens)
    return processed_text

In [23]:
print(preprocess_text_2("heyy myself Tirth Gada and i am learning the NLP . I am eating oranges and yesterday i ate mango"))

heyy Tirth Gada learn NLP eat orange yesterday eat mango

In [34]:
df["processed_text"]=df["text"].apply(preprocess_text_2)

In [35]:
df

,type,text,processed_text
0,1,Technopolis plans to develop in stages an area...,"technopoli plan develop stage area 100,000 squ..."
1,0,The international electronic industry company ...,international electronic industry company Elco...
2,2,With the new production plant the company woul...,new production plant company increase capacity...
3,2,According to the company 's updated strategy f...,accord company update strategy year 2009 2012 ...
4,2,FINANCING OF ASPOCOMP 'S GROWTH Aspocomp is ag...,financing ASPOCOMP GROWTH Aspocomp aggressivel...
...,...,...,...
4840,0,LONDON MarketWatch -- Share prices ended lower...,LONDON MarketWatch share price end lower Londo...
4841,1,Rinkuskiai 's beer sales fell by 6.5 per cent ...,Rinkuskiai beer sale fall 6.5 cent 4.16 millio...
4842,0,Operating profit fell to EUR 35.4 mn from EUR ...,operate profit fall EUR 35.4 mn EUR 68.8 mn 20...
4843,0,Net sales of the Paper segment decreased to EU...,net sale Paper segment decrease EUR 221.6 mn s...
4844,0,Sales in Finland decreased by 10.5 % in Januar...,sale Finland decrease 10.5 January sale outsid...

In [38]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report

# Assuming you have a DataFrame df with a "processed_text" column and a "neutral" column
# ...

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df['processed_text'], df['type'], test_size=0.2, random_state=42)

# Create a CountVectorizer
vectorizer = CountVectorizer()
X_train_vectorized = vectorizer.fit_transform(X_train)
X_test_vectorized = vectorizer.transform(X_test)

# Train a Multinomial Naive Bayes classifier
classifier = MultinomialNB()
classifier.fit(X_train_vectorized, y_train)

# Make predictions on the test set
y_pred = classifier.predict(X_test_vectorized)

# Evaluate the performance
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')

# Display classification report
print('Classification Report:')
print(classification_report(y_test, y_pred))

Accuracy: 0.70
Classification Report:
              precision    recall  f1-score   support

           0       0.61      0.52      0.56       115
           1       0.75      0.84      0.79       567
           2       0.59      0.50      0.54       287

    accuracy                           0.70       969
   macro avg       0.65      0.62      0.63       969
weighted avg       0.69      0.70      0.69       969

In [39]:
print(X_train_vectorized)

  (0, 2437)	1
  (0, 1732)	1
  (0, 2671)	1
  (0, 5873)	1
  (0, 2823)	1
  (0, 1713)	1
  (0, 4190)	1
  (0, 4453)	1
  (0, 5092)	1
  (0, 1549)	1
  (0, 6026)	1
  (0, 5612)	1
  (0, 6343)	1
  (0, 6550)	1
  (0, 3586)	1
  (0, 3133)	1
  (0, 4671)	1
  (0, 2609)	1
  (0, 318)	1
  (0, 4412)	2
  (0, 389)	1
  (1, 2823)	1
  (1, 1713)	1
  (1, 3133)	1
  (1, 6051)	1
  :	:
  (3874, 6707)	1
  (3875, 2823)	1
  (3875, 1713)	1
  (3875, 4412)	2
  (3875, 4601)	1
  (3875, 2493)	2
  (3875, 5048)	1
  (3875, 5325)	1
  (3875, 5935)	1
  (3875, 4489)	1
  (3875, 4900)	1
  (3875, 116)	1
  (3875, 4743)	1
  (3875, 4779)	1
  (3875, 195)	2
  (3875, 183)	1
  (3875, 293)	1
  (3875, 7035)	1
  (3875, 6791)	1
  (3875, 3699)	1
  (3875, 2881)	1
  (3875, 724)	1
  (3875, 4621)	1
  (3875, 5454)	1
  (3875, 5456)	1

In [41]:
feature_names = vectorizer.get_feature_names_out()
word_at_index_2437 = feature_names[1713]
print(word_at_index_2437)

company

In [43]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report


# Train a K-Nearest Neighbors classifier
knn_classifier = KNeighborsClassifier()
knn_classifier.fit(X_train_vectorized, y_train)

# Make predictions on the test set
y_pred_knn = knn_classifier.predict(X_test_vectorized)

# Evaluate the performance of KNN
accuracy_knn = accuracy_score(y_test, y_pred_knn)
print(f'K-Nearest Neighbors Accuracy: {accuracy_knn:.2f}')

# Display classification report for KNN
print('Classification Report for K-Nearest Neighbors:')
print(classification_report(y_test, y_pred_knn))

# Train a Random Forest classifier
rf_classifier = RandomForestClassifier()
rf_classifier.fit(X_train_vectorized, y_train)

# Make predictions on the test set
y_pred_rf = rf_classifier.predict(X_test_vectorized)

# Evaluate the performance of Random Forest
accuracy_rf = accuracy_score(y_test, y_pred_rf)
print(f'Random Forest Accuracy: {accuracy_rf:.2f}')

# Display classification report for Random Forest
print('Classification Report for Random Forest:')
print(classification_report(y_test, y_pred_rf))

K-Nearest Neighbors Accuracy: 0.64
Classification Report for K-Nearest Neighbors:
              precision    recall  f1-score   support

           0       0.54      0.29      0.38       115
           1       0.64      0.98      0.78       567
           2       0.76      0.12      0.20       287

    accuracy                           0.64       969
   macro avg       0.65      0.46      0.45       969
weighted avg       0.66      0.64      0.56       969

Random Forest Accuracy: 0.75
Classification Report for Random Forest:
              precision    recall  f1-score   support

           0       0.76      0.48      0.59       115
           1       0.74      0.93      0.83       567
           2       0.77      0.51      0.61       287

    accuracy                           0.75       969
   macro avg       0.76      0.64      0.68       969
weighted avg       0.75      0.75      0.73       969